@import "../../../../styles/config";

.text-form {
  width: 100%;
  position: relative;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;

  input {
    width: 100%;
    height: 100%;
    color: $dark-d-1;
    font-size: 32px;
    padding-top: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid $button-primary-bg-color;
  }
  .text-label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: $dark-d-1;
    pointer-events: none;
  }
}
