@import "../../../../styles/config";

.password-label {
  font-size: 12px;
  color: $dark-d-3;
  line-height: 18px;
  margin: 10px 0;
  display: block;
}
.password-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $stock-color;
  border-radius: 5px;

  input {
    border: none;
    margin: 0;
    border-radius: 5px;
    padding: 14px 12px;
    font-size: 20px;
    color: $dark-d-1;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  .icon {
    color: $dark-d-5;
    margin-right: 20px;
  }
}
