@import "../../../../styles/config";

.password-label {
  font-size: 10px;
  color: $dark-d-3;
}
.password-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $stock-color;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;

  input {
    border: none;
    margin: 0;
    border-radius: 5px;
    padding: 7px 8px;
    font-size: 20px;
    color: $dark-d-1;
    outline: none;
  }
  .icon {
    color: $dark-d-5;
    margin-right: 20px;
  }
}
