$bg: rgba(251, 251, 251, 1);
$button: rgba(95, 72, 234, 1);
$primary-color: rgba(8, 199, 224, 1);
$stock-color: rgba(232, 236, 238, 1);
$white: rgba(255, 255, 255, 1);
$error-color: rgba(228, 66, 88, 1);
$active-color: rgba(40, 215, 130, 1);
$dark-1: rgba(50, 51, 56, 1);
$dark-2: rgba(197, 199, 208, 1);
$dark-3: rgba(230, 233, 239, 1);
$dark-4: rgba(245, 246, 248, 1);
$dark-5: rgba(252, 252, 252, 1);
$dark-6: rgba(50, 51, 56, 1);
$dark-7: rgba(50, 51, 56, 1);
$dark-8: rgba(50, 51, 56, 1);
$dark-d-1: rgba(50, 51, 56, 1);
$dark-d-2: rgba(70, 71, 76, 1);
$dark-d-3: rgba(91, 92, 96, 1);
$dark-d-4: rgba(111, 112, 116, 1);
$dark-d-5: rgba(132, 133, 136, 1);
$dark-d-6: rgba(152, 153, 155, 1);
$dark-d-7: rgba(173, 173, 175, 1);
$dark-d-8: rgba(193, 194, 195, 1);
$dark-d-9: rgba(214, 214, 215, 1);
$dark-d-10: rgba(234, 235, 235, 1);
