@import "../../../../styles/config";

.email-name-label {
  font-size: 12px;
  line-height: 18px;
  color: $dark-d-3;
  margin: 10px 0;
  display: block;
}

.email-name-field {
  color: $stock-color;

  input {
    height: 100%;
    width: 100%;
    border: 1px solid $stock-color;
    border-radius: 5px;
    background: transparent;
    margin: 0;
    padding: 14px 12px;
    font-size: 20px;
    color: $dark-d-1;
    outline: none;
    box-sizing: border-box;
  }
}
