@import "../../../../styles/config";

.label-text {
  font-size: 10px;
  color: $dark-d-3;
}

.email-field {
  color: $stock-color;
  border-radius: 5px;
  input {
    height: 100%;
    width: 100%;
    border: 1px solid $stock-color;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 20px;
    color: $dark-d-1;
    border-radius: inherit;
    outline: none;
  }
}
