@import "../../../styles/config";

.sign-up-wrapper {
  box-shadow: $container-box-shadow;
  max-width: 732px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 96px;
  border-radius: 20px;
}

.sign-up-wrapper .sign-up-wrapper__title {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  font-family: inherit;
  color: $container-box-heading-color;
  margin-bottom: 45px;
  margin-top: 10px;
}

.sign-up-wrapper .sign-up-actions {
  margin-top: 30px;
}

.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: #c1c2c3;
  padding: 40px 0;
}

.divider > span {
  position: relative;
  display: inline-block;
}

.divider > span:before,
.divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #c1c2c350;
}

.divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.divider > span:after {
  left: 100%;
  margin-left: 15px;
}

.sign-up-wrapper .sign-up-wrapper__footer {
  padding-top: 10px;
  text-align: center;
}

.sign-up-wrapper .sign-up-wrapper__footer a {
  text-decoration: none;
  color: #08c7e0;
}

@media only screen and (max-width: 950px) {
  .sign-up-wrapper {
    padding: 30px 20px;
  }
}
