@import "../../../styles/config";

:root {
  --background-color: #fff;
  --text-color: #000;
  --shadowWidth: 20px;
}

html[data-theme="dark"] {
  --background-color: #222b32;
  --text-color: #fff;
}

.container-layout .center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 30px 96px;
  border-radius: 20px;
  background: var(--background-color);
  color: var(--text-color);
  -moz-box-shadow: 0 0 var(--shadowWidth) #ccc;
  -webkit-box-shadow: 0 0 var(--shadowWidth) #ccc;
  box-shadow: 0 0 var(--shadowWidth) #ccc;
}

@media only screen and (max-width: 950px) {
  .container-layout .center {
    width: 80%;
    padding: 25px;
  }
}
